@import url("variables.css");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.card {
  margin: 30px;
  width: var(--card-width);
  background-color: var(--card-bg-color);
  padding: var(--card-padding);
  box-shadow: var(--card-shadow-h-offset) var(--card-shadow-v-offset)
    var(--card-shadow-blur) var(--card-main-color);
}

/* Here you can make media queries. (At least one!!) */
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .card h5 {
    text-align: center;
  }
}
