img {
  width: 100px;
  float: left;
  padding-right: 5px;
}

.Movie {
  width: 500px;
  height: 200px;
  float: left;
  margin: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.MovieTitle {
  font-weight: bold;
}

.MovieText {
  font-size: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.GenresText,
.VideosText {
  font-size: 70%;
}

.VideoText {
  color: "blue";
  cursor: pointer;
}
